body{
    background-color: #ffc0cb;}
h1{
    border-style: solid; 
    border-color: black; 
    border-width: 12px;
    padding: 5px;}
h3{
    border-style: dotted; 
    border-color: aqua; 
    border-width: 5px;padding: 5px;}
p{
    background-color: chartreuse; 
    border-radius: 15px;
    margin: 10px; 
    margin-left: auto;}
figure{
    margin-left: auto;}
progress{
    margin-left: 15px;}